{% extends 'base.html' %}
ㄴㅅ
{% block content %}
  <h1> {{review.pk}}번 글 상세페이지</h1>
  <hr>
  <ul>
    <li><a href="#">글 번호 - {{review.pk}}</a></li>
    <li><a href="#">글 제목 - {{review.title}}</a></li>
    <li><a href="#">글 내용 - {{review.content}}</a></li>
    <li><a href="#">영화 제목 - {{review.movie}}</a></li>
    <li>
      {% if review.image %}
        <img src="{{ review.image.url }}" alt="img">
      {% endif %}
    </li>
    <li><a href="#">작성자 - {{review.user}}</a></li>
    <li><a href="#">작성일 - {{review.created_at}}</a></li></ul>
    <a href="{% url 'reviews:update' review.pk %}">글 수정</a>
  <hr>

<hr>

<form action="{% url 'reviews:create_comment' review.pk %}" method="POST">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit" value="댓글 작성"></input>
</form>

<hr>

{% for comment in comments %}
<p>{{ comment.user }} - {{comment.content}} <span>{{comment.created_at}}</span></p>

{% if comment.user == user %}
{% csrf_token %}
<form action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="댓글 삭제"></input>
</form>
{% endif %}
<hr>
{% endfor %}
<a href="{% url 'reviews:index' %}">메인으로</a>
{% endblock content %}





