

{% extends 'base.html' %}

{% block style %}


  .reviews--create {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .table-sizing{ 
    text-align: center;
  }
  .table--text a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }
  

{% endblock style %}




{% block content %}
<main class="main--grid">
  <aside class="sidebar">
    <h1>Thank you.</h1>
    {% if request.user.is_authenticated %}
    <h4><span class="link-underline-primary">{{user.first_name}}</span>님 반가워요!</h4>
    <hr>
    <ul class="user--info">
      <li><span class="badge rounded-pill text-bg-warning">UserID</span>{{user}}</li>
      <li><span class="badge rounded-pill text-bg-success">EMAIL</span>{{ user.email }}</li>
    </ul>
    {% endif %}
  </aside>
  <article class="contents">
    <div class="contents--header">
      <h1>Movie review list</h1>
      <a class="reviews--create" href="{% url 'reviews:create' %}"><button type="button" class="btn btn-success">글 작성</button></a>
    </div>
    <hr>
    <table class="table table-light table-sizing">
      <thead>
        <tr>
          <th scope="col">글 번호</th>
          <th scope="col">영화 제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성 일자</th>
        </tr>
      </thead>
      <tbody>
      {% for review in reviews %}
        <tr class="table--text">
          <th scope="row"><a href="{% url 'reviews:detail' review.pk %}">{{review.pk}}</a></th>
          <td><a href="{% url 'reviews:detail' review.pk %}">{{review.movie}} <span class="badge rounded-pill text-bg-primary">{{review.comment_set.count}}</span></a></td>
          <td><a href="{% url 'reviews:detail' review.pk %}">{{review.user}}</a></td>
          <td><a href="{% url 'reviews:detail' review.pk %}">{{review.created_at}}</a></td>
          <td><a href="{% url 'reviews:detail' review.pk %}">{{review.comment_set.count}}</a></td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
  </article>
</main>
{% endblock content %}
