


{% extends 'base.html' %}

{% block content %}
<h1>index</h1>
{% if request.user.is_authenticated %}
<p>{{ user }} 님 안녕하세요</p>

{% endif %}

<hr>
<ul>
{% for review in reviews %}
  <li><a href="#">{{review.pk}}</a></li>
  <li><a href="#">{{review.movie}}</a></li>
  <li><a href="#">{{review.user}}</a></li>
  <li><a href="#">{{review.created_at}}</a></li>
  <a href="{% url 'reviews:detail' review.pk %}">상세페이지</a>
  <hr>
{% endfor %}
</ul>
{% endblock content %}


{% block footer %} reviews/index.html {% endblock footer %}