{% extends 'base.html' %}


{% block content %}
<p>{{ user.username }}</p>
<p>{{ user.email }}</p>
<p>{{ user.last_name }}</p>
<p>{{ user.first_name }}</p>
<p>{{ user.birthday }}</p>

<a href="{% url 'accounts:update' %}">회원 정보 수정</a>
<form action="{% url 'accounts:delete' %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="회원 탈퇴">
</form>

<hr>
<h3>내가 쓴 글</h3>
{% for review in reviews %}
<a href="{% url 'reviews:detail' review.pk %}">
  {{ review.pk }} -[ {{ review.movie }} ] {{ review.title }}
</a>
<hr>
{% endfor %}

{% endblock content %}