{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>index</h1>
{% if user.image %}
<img src="{{ user.image.url }}" alt="">
{% else %}
<form action="{% url 'accounts:profile' %}" method="POST">
  {% csrf_token %}
  <select name="profile" id="profile">
    <option value="선택">선택해주세요</option>
    <option value="배찌">배찌</option>
    <option value="양파쿵야">양파쿵야</option>
    <option value="루피">루피</option>
  </select>
  <input type="submit" value="적용">
</form>
{% if image_select == '배찌' %}
<img src="{% static 'bazzi.png' %}" alt="">
{% elif image_select == '양파쿵야' %}
<img src="{% static 'onion.jpg' %}" alt="">
{% elif image_select == '루피' %}
<img src="{% static 'luffy.png' %}" alt="">
{% else %}
<img src="{% static 'No_Image_Available.jpg' %}" alt="">
{% endif %}
{% endif %}

<p>{{ user.username }}</p>
<p>{{ user.email }}</p>
<p>{{ user.last_name }}</p>
<p>{{ user.first_name }}</p>
<p>{{ user.birthday }}</p>

<a href="{% url 'accounts:update' %}">회원 정보 수정</a>
<form action="{% url 'accounts:delete' %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="회원 탈퇴">
</form>

<hr>
<h3>내가 쓴 글</h3>
{% for review in reviews %}
<a href="{% url 'reviews:detail' review.pk %}">
  {{ review.pk }} -[ {{ review.movie }} ] {{ review.title }}
</a>
<hr>
{% endfor %}

{% endblock content %}